In [1]:
import os
import pandas as pd
import re

In [2]:
dir_path = './data'

file_lst = os.listdir(dir_path)

In [3]:
file_lst

['product_info.csv',
 '상품정보_의약품&의료기기(참고용).xlsx',
 '상품정보_가공식품(참고용).xlsx',
 '.DS_Store',
 '상품정보_일상용품(참고용).xlsx',
 'using_data_info.json',
 '상품정보_디지털&가전(참고용).xlsx',
 '데이터_ 물류센터-소매점 판매 데이터(필수).xlsx',
 '동일 지역마트판매DATA (참고용).xlsx',
 '상품정보_전문스포츠&레저(참고용).xlsx',
 '상품정보_교육&문화용품(참고용).xlsx',
 '상품정보_신선식품(참고용).xlsx',
 '상품정보_가구&인테리어(참고용).xlsx',
 'using_data.csv',
 '상품정보_패션잡화(참고용).xlsx']

In [4]:
df_lst = dict()
for data_path in file_lst:
    if 'xlsx' not in data_path : continue

    sheet_names = pd.ExcelFile(dir_path + '/' + data_path).sheet_names
    
    key = re.sub('(?<=\().+' , '', data_path)[:-1]

    for sheet in sheet_names:
        df_lst[key + '_' + sheet] = pd.read_excel(dir_path + '/' + data_path, sheet_name=sheet)

/Users/seokholee/opt/anaconda3/envs/ds_study/lib/python3.7/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
for key in df_lst.keys():
    print(key)

상품정보_의약품&의료기기_Products
상품정보_가공식품_Products
상품정보_일상용품_Products
상품정보_디지털&가전_Products
데이터_ 물류센터-소매점 판매 데이터_데이터정보
데이터_ 물류센터-소매점 판매 데이터_데이터
동일 지역마트판매DATA _DATA DEFINITION
동일 지역마트판매DATA _DATA
상품정보_전문스포츠&레저_Products
상품정보_교육&문화용품_Products
상품정보_신선식품_Products
상품정보_가구&인테리어_Products
상품정보_패션잡화_Products

In [91]:
df =  df_lst['데이터_ 물류센터-소매점 판매 데이터_데이터']

In [ ]:
8801007266435

In [108]:
df.head()

,판매일,구분,우편번호,판매수량,옵션코드,규격,입수,상품 바코드,상품명,Unnamed: 9,Unnamed: 10
0,2021-01-04,매출,37542,4,EA,100g*1,1,8.801007e+12,다시다)쇠골드명품100g,NaN,NaN
1,2021-01-04,매출,37542,2,BX,12입,12,1.880104e+13,사조]해표식용유<1.8L>,NaN,NaN
2,2021-01-04,매출,37542,1,EA,1입,1,8.809199e+12,젓가락]키친센스 나무<250p>,NaN,NaN
3,2021-01-04,매출,37542,1,EA,50g*16*1,1,8.801077e+12,소세지 천하장사800g,NaN,NaN
4,2021-01-04,매출,37542,3,EA,10입,1,8.801045e+12,오뚜기]옛날자른당면<1kg >,NaN,NaN

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521995 entries, 0 to 521994
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   판매일          521995 non-null  datetime64[ns]
 1   구분           521995 non-null  object
 2   우편번호         521995 non-null  object
 3   판매수량         521995 non-null  int64
 4   옵션코드         521995 non-null  object
 5   규격           521794 non-null  object
 6   입수           521995 non-null  int64
 7   상품 바코드       521455 non-null  float64
 8   상품명          521995 non-null  object
 9   Unnamed: 9   1 non-null       float64
 10  Unnamed: 10  1 non-null       float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 43.8+ MB

In [93]:
df.isna().sum()

판매일                 0
구분                  0
우편번호                0
판매수량                0
옵션코드                0
규격                201
입수                  0
상품 바코드            540
상품명                 0
Unnamed: 9     521994
Unnamed: 10    521994
dtype: int64

In [96]:
df[~df['Unnamed: 9'].isna()]

,판매일,구분,우편번호,판매수량,옵션코드,규격,입수,상품 바코드,상품명,Unnamed: 9,Unnamed: 10
7670,2021-01-11,반품,02106,15,EA,1입,1,1.701008e+12,액젓 하선정 까나리<800*15>,2106.0,NaN

In [97]:
df[~df['Unnamed: 10'].isna()]

,판매일,구분,우편번호,판매수량,옵션코드,규격,입수,상품 바코드,상품명,Unnamed: 9,Unnamed: 10
1915,2021-01-04,매출,37924,1,BX,6입,6,8.801073e+12,삼양]라면컵<65g*6>,NaN,37924.0

In [102]:
df['판매수량'].describe()

count    521995.000000
mean          4.437634
std          14.293559
min           0.000000
25%           1.000000
50%           2.000000
75%           5.000000
max        6360.000000
Name: 판매수량, dtype: float64

In [103]:
df_info =  df_lst['데이터_ 물류센터-소매점 판매 데이터_데이터정보']

In [104]:
df_info

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,본 데이터는 수요예측 모델링 부문으로 출제된 상품 10개가 포함된 중소유통물류데이터...,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,구분,판매일,상품 판매 일자
5,NaN,1,구분,"매출, 반품"
6,NaN,2,우편번호,소매점 위치정보
7,NaN,3,판매수량,상품이 판매된 수량
8,NaN,4,옵션코드,"EA: 최소 단위, CS : 묶음 단위 BX : 박스 단위"
9,NaN,5,규격,상품 입고 시 박스에 담겨져있는 수량
10,NaN,6,입수,해당 옵션코드에 상품이 들어있는 EA 수량
11,NaN,7,상품 바코드,상품에 부여되는 코드번호
12,NaN,8,상품명,상품이름
13,NaN,NaN,NaN,NaN
14,NaN,* 해당 데이터는 대형물류센터에서 소매점으로 판매된 데이터입니다.,NaN,NaN
15,NaN,* 해당 데이터는 실제 운영데이터로 상품정보가 부정확할 수 있습니다.,NaN,NaN

In [6]:
info_key = []

for key in df_lst.keys():
    if '상품정보' in key:
        info_key.append(key)

In [7]:
info_lst = []

for tmp in info_key:
    info_lst.append(df_lst[tmp])

info_df = pd.concat(info_lst)

In [9]:
info_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3484 entries, 0 to 17
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GTIN             3484 non-null   int64
 1   상품분류코드           3484 non-null   int64
 2   상품분류명            3484 non-null   object
 3   상품명(대표)          3484 non-null   object
 4   상품명(국문)          3483 non-null   object
 5   상품명(기타)          998 non-null    object
 6   회사정보             3484 non-null   object
 7   국가정보             3484 non-null   object
 8   브랜드명             3147 non-null   object
 9   규격정보             3239 non-null   object
 10  순중량(Net Weight)  2317 non-null   object
 11  상품 형태            3484 non-null   object
 12  등록일시             3484 non-null   object
 13  수정일시             3484 non-null   object
dtypes: int64(2), object(12)
memory usage: 408.3+ KB

In [8]:
info_df.head()

,GTIN,상품분류코드,상품분류명,상품명(대표),상품명(국문),상품명(기타),회사정보,국가정보,브랜드명,규격정보,순중량(Net Weight),상품 형태,등록일시,수정일시
0,8801166222419,5040101,의약품/의료기기>의약외품>생리대>일반생리대,화이트데일리라이너일반 24개,화이트데일리라이너일반,NaN,구분=제조/생산|:|이름=유한킴벌리(주)|:|주소=충청북도 충주시 대소원면 첨단산업...,원산지=대한민국(국산),화이트,(용량)=24개입|:|(규격)=15cm,NaN,육면체형,2018-12-20 12:13:16,2018-12-20 12:13:16
1,8809016360267,5040101,의약품/의료기기>의약외품>생리대>일반생리대,SOFY 쏘피 바디피트 귀애랑 울트라슬림 날개형 중형 18+12개입,쏘피 바디피트 귀애랑 울트라슬림 날개형 중형,NaN,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경상북도 구미시 수출대로 97...,제조국=대한민국(국산),SOFY|:|바디피트|:|귀애랑,(용량)=18+12개입|:|(규격)=25cm,NaN,육면체형,2018-12-20 12:24:15,2020-10-18 12:27:12
2,8809016360274,5040101,의약품/의료기기>의약외품>생리대>일반생리대,쏘피 바디피트 귀애랑 울트라슬림 날개형 대형 30개입,쏘피 바디피트 귀애랑 울트라슬림 날개형 대형,NaN,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경북 구미시 수출대로 97\n...,제조국=대한민국(국산),쏘피|:|SOFY|:|귀애랑,(용량)=18+12개입|:|(규격)=29cm,NaN,육면체형,2018-12-20 12:24:16,2020-10-19 14:45:31
3,8801166230940,5040101,의약품/의료기기>의약외품>생리대>일반생리대,코텍스 화이트 애니데이 순면커버 수퍼롱 팬티라이너 30개입,코텍스 화이트 애니데이 순면커버 수퍼롱 팬티라이너,NaN,구분=업소/업자|:|이름=유한킴벌리 본사|:|주소=서울시 강남구 테헤란로 504\n...,제조국=대한민국(국산),화이트,(용량)=30개입|:|(규격)=19cm,NaN,육면체형,2018-12-20 12:24:25,2020-10-18 12:18:24
4,8801328320045,5041501,의약품/의료기기>의약외품>해충 방역용 제제>방역용살충제,에프킬라 울트라 에스 에어로솔 (내츄럴) 500ml,에프킬라 울트라 에스 에어로솔 (내츄럴),에프킬라 바퀴살충제 울트라,구분=제조/생산|:|이름=(주)지에스켐|:|주소=충청북도 진천군 덕산면 신척산단 5...,원산지=대한민국(국산),에프킬라|:|Johnson,용량=500ml,NaN,원통형,2018-12-20 12:24:35,2020-04-14 10:11:05

In [119]:
df['상품 바코드'].iloc[0]

8801007266435.0

In [121]:
info_df[info_df['GTIN'] == 8801007266435]

,GTIN,상품분류코드,상품분류명,상품명(대표),상품명(국문),상품명(기타),회사정보,국가정보,브랜드명,규격정보,순중량(Net Weight),상품 형태,등록일시,수정일시
1153,8801007266435,1010199,가공식품>조미료>종합조미료>기타조미료,다시다골드쇠고기 100g,다시다골드쇠고기,NaN,구분=제조/생산|:|이름=씨제이제일제당주식회사|:|주소=부산광역시 사하구 다대로 210,원산지=대한민국(국산),NaN,용량=100g,100.0,봉지형,2018-12-20 14:29:54,2019-10-23 17:37:48

In [122]:
info_df.columns

Index(['GTIN', '상품분류코드', '상품분류명', '상품명(대표)', '상품명(국문)', '상품명(기타)', '회사정보',
       '국가정보', '브랜드명', '규격정보', '순중량(Net Weight)', '상품 형태', '등록일시', '수정일시'],
      dtype='object')

In [206]:
drop_col = ['상품분류코드', '상품명(대표)', '상품명(국문)', '상품명(기타)', '규격정보', '등록일시', '수정일시', '상품분류명', '국가정보', '브랜드명']

In [130]:
cate = {
    0 : [],
    1 : [],
    2 : [],
    3 : []
}
for name in info_df['상품분류명']:
    for idx, c in enumerate(name.split('>')):
        cate[idx].append(c)

In [131]:
info_df['상품분류명_0'] = cate[0]
info_df['상품분류명_1'] = cate[1]
info_df['상품분류명_2'] = cate[2]
info_df['상품분류명_3'] = cate[3]

In [134]:
info_df.drop(drop_col, axis=1)

,GTIN,회사정보,국가정보,브랜드명,순중량(Net Weight),상품 형태,상품분류명_0,상품분류명_1,상품분류명_2,상품분류명_3
0,8801166222419,구분=제조/생산|:|이름=유한킴벌리(주)|:|주소=충청북도 충주시 대소원면 첨단산업...,원산지=대한민국(국산),화이트,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대
1,8809016360267,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경상북도 구미시 수출대로 97...,제조국=대한민국(국산),SOFY|:|바디피트|:|귀애랑,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대
2,8809016360274,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경북 구미시 수출대로 97\n...,제조국=대한민국(국산),쏘피|:|SOFY|:|귀애랑,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대
3,8801166230940,구분=업소/업자|:|이름=유한킴벌리 본사|:|주소=서울시 강남구 테헤란로 504\n...,제조국=대한민국(국산),화이트,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대
4,8801328320045,구분=제조/생산|:|이름=(주)지에스켐|:|주소=충청북도 진천군 덕산면 신척산단 5...,원산지=대한민국(국산),에프킬라|:|Johnson,NaN,원통형,의약품/의료기기,의약외품,해충 방역용 제제,방역용살충제
...,...,...,...,...,...,...,...,...,...,...
13,8809148551151,구분=업소/업자|:|이름=(주)태창관동|:|주소=전북 익산시 약촌로8길 61-12,제조국=대한민국(국산),파티라|:|PATIRA,NaN,평면형,패션잡화,패션소품,스타킹,밴드스타킹
14,8809589560026,구분=업소/업자|:|이름=(주)볼로|:|주소=전북 익산시 약촌로8길 61-12(어양동),제조국=대한민국(국산),볼로|:|VOLO,NaN,평면형,패션잡화,패션소품,스타킹,팬티스타킹
15,8809589560002,구분=업소/업자|:|이름=(주)볼로|:|주소=전북 익산시 약촌로8길 61-12(어양동),제조국=대한민국(국산),볼로|:|VOLO,NaN,평면형,패션잡화,패션소품,스타킹,팬티스타킹
16,8809534998799,구분=수입|:|이름=(주)명신에프엔에스|:|주소=경기도 평택시 진위면 동천2길 14-21,제조국=중국,arnaldo bassini,NaN,기타유형,패션잡화,유니섹스신발,유니섹스신발류,실내화
17,8809158525852,구분=제조/판매|:|이름=성문 인터내셔날|:|주소=인천 서구 가좌동 178-334,제조국=중국,SUNG MOON|:|성문,NaN,봉지형,패션잡화,유니섹스신발,유니섹스신발류,실내화

In [170]:
tmp = []
for txt in info_df['국가정보'].unique():
    tmp.append(divNationInfo(txt))

In [176]:
def divNationInfo(txt):
    # result = re.sub('\(국산\)', '', txt)

    to_create, to_make = '', ''

    if '원산지' in txt:
        to_create = re.search('(?<=원산지=)[가-힣ㄱ-ㅎ]+', txt).group(0)
    if '제조국' in txt:
        to_make = re.search('(?<=제조국=)[가-힣ㄱ-ㅎ]+', txt).group(0)
    
    return to_create, to_make

In [181]:
create_lst, make_lst = [], []
for idx, row in info_df.iterrows():
    tmp_1, tmp_2 = divNationInfo(row['국가정보'])
    create_lst.append(tmp_1)
    make_lst.append(tmp_2)

In [182]:
info_df['국가정보_원산지'], info_df['국가정보_제조국'] = create_lst, make_lst

In [207]:
info_df.drop(drop_col, axis=1)

,GTIN,회사정보,순중량(Net Weight),상품 형태,상품분류명_0,상품분류명_1,상품분류명_2,상품분류명_3,국가정보_원산지,국가정보_제조국
0,8801166222419,구분=제조/생산|:|이름=유한킴벌리(주)|:|주소=충청북도 충주시 대소원면 첨단산업...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,대한민국,
1,8809016360267,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경상북도 구미시 수출대로 97...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국
2,8809016360274,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경북 구미시 수출대로 97\n...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국
3,8801166230940,구분=업소/업자|:|이름=유한킴벌리 본사|:|주소=서울시 강남구 테헤란로 504\n...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국
4,8801328320045,구분=제조/생산|:|이름=(주)지에스켐|:|주소=충청북도 진천군 덕산면 신척산단 5...,NaN,원통형,의약품/의료기기,의약외품,해충 방역용 제제,방역용살충제,대한민국,
...,...,...,...,...,...,...,...,...,...,...
13,8809148551151,구분=업소/업자|:|이름=(주)태창관동|:|주소=전북 익산시 약촌로8길 61-12,NaN,평면형,패션잡화,패션소품,스타킹,밴드스타킹,,대한민국
14,8809589560026,구분=업소/업자|:|이름=(주)볼로|:|주소=전북 익산시 약촌로8길 61-12(어양동),NaN,평면형,패션잡화,패션소품,스타킹,팬티스타킹,,대한민국
15,8809589560002,구분=업소/업자|:|이름=(주)볼로|:|주소=전북 익산시 약촌로8길 61-12(어양동),NaN,평면형,패션잡화,패션소품,스타킹,팬티스타킹,,대한민국
16,8809534998799,구분=수입|:|이름=(주)명신에프엔에스|:|주소=경기도 평택시 진위면 동천2길 14-21,NaN,기타유형,패션잡화,유니섹스신발,유니섹스신발류,실내화,,중국
17,8809158525852,구분=제조/판매|:|이름=성문 인터내셔날|:|주소=인천 서구 가좌동 178-334,NaN,봉지형,패션잡화,유니섹스신발,유니섹스신발류,실내화,,중국

In [230]:
drop_df.reset_index(drop=True)['순중량(Net Weight)']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
3479    NaN
3480    NaN
3481    NaN
3482    NaN
3483    NaN
Name: 순중량(Net Weight), Length: 3484, dtype: object

In [234]:
drop_df = info_df.drop(drop_col, axis=1).reset_index(drop=True)

In [242]:
drop_df

,GTIN,회사정보,순중량(Net Weight),상품 형태,상품분류명_0,상품분류명_1,상품분류명_2,상품분류명_3,국가정보_원산지,국가정보_제조국
0,8801166222419,구분=제조/생산|:|이름=유한킴벌리(주)|:|주소=충청북도 충주시 대소원면 첨단산업...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,대한민국,
1,8809016360267,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경상북도 구미시 수출대로 97...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국
2,8809016360274,구분=제조/생산|:|이름=엘지유니참 주식회사|:|주소=경북 구미시 수출대로 97\n...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국
3,8801166230940,구분=업소/업자|:|이름=유한킴벌리 본사|:|주소=서울시 강남구 테헤란로 504\n...,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국
4,8801328320045,구분=제조/생산|:|이름=(주)지에스켐|:|주소=충청북도 진천군 덕산면 신척산단 5...,NaN,원통형,의약품/의료기기,의약외품,해충 방역용 제제,방역용살충제,대한민국,
...,...,...,...,...,...,...,...,...,...,...
3479,8809148551151,구분=업소/업자|:|이름=(주)태창관동|:|주소=전북 익산시 약촌로8길 61-12,NaN,평면형,패션잡화,패션소품,스타킹,밴드스타킹,,대한민국
3480,8809589560026,구분=업소/업자|:|이름=(주)볼로|:|주소=전북 익산시 약촌로8길 61-12(어양동),NaN,평면형,패션잡화,패션소품,스타킹,팬티스타킹,,대한민국
3481,8809589560002,구분=업소/업자|:|이름=(주)볼로|:|주소=전북 익산시 약촌로8길 61-12(어양동),NaN,평면형,패션잡화,패션소품,스타킹,팬티스타킹,,대한민국
3482,8809534998799,구분=수입|:|이름=(주)명신에프엔에스|:|주소=경기도 평택시 진위면 동천2길 14-21,NaN,기타유형,패션잡화,유니섹스신발,유니섹스신발류,실내화,,중국
3483,8809158525852,구분=제조/판매|:|이름=성문 인터내셔날|:|주소=인천 서구 가좌동 178-334,NaN,봉지형,패션잡화,유니섹스신발,유니섹스신발류,실내화,,중국

In [204]:
brand = []
for value in info_df['브랜드명'].unique():
    
    brand.append(re.sub('[^가-힣a-zA-Z]', '', str(value)))

#brand

In [244]:
txt = '구분=제조/판매|:|이름=성문 인터내셔날|:|주소=인천 서구 가좌동 178-334'
re.search('(?<=이름=)[가-힣 ]+', txt).group(0)

'성문 인터내셔날'

In [262]:
def divCompanyName(txt):
    name = re.search('(?<=이름=)[가-힣 a-zA-Z()]+', txt)
    if name:
        result = name.group(0)
    else:
        result = ''
    return result

In [263]:
drop_df['회사이름'] = drop_df['회사정보'].apply(divCompanyName)

In [266]:
drop_df = drop_df.drop('회사정보', axis=1)

In [267]:
drop_df.head()

,GTIN,순중량(Net Weight),상품 형태,상품분류명_0,상품분류명_1,상품분류명_2,상품분류명_3,국가정보_원산지,국가정보_제조국,회사이름
0,8801166222419,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,대한민국,,유한킴벌리(주)
1,8809016360267,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국,엘지유니참 주식회사
2,8809016360274,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국,엘지유니참 주식회사
3,8801166230940,NaN,육면체형,의약품/의료기기,의약외품,생리대,일반생리대,,대한민국,유한킴벌리 본사
4,8801328320045,NaN,원통형,의약품/의료기기,의약외품,해충 방역용 제제,방역용살충제,대한민국,,(주)지에스켐

In [268]:
drop_df.to_csv('./data/product_info.csv', index=False)

In [272]:
df.to_csv('./data/using_data.csv', index=False)

In [278]:
data_info = dict()
for key, value in zip(df_info[5:13]['Unnamed: 2'], df_info[5:13]['Unnamed: 3']):
    data_info[key] = value

In [280]:
import json

with open('./data/using_data_info.json', 'w') as f:
    json.dump(data_info, f)