In [2]:
import pandas as pd

import selenium
import requests

import selenium
from selenium import webdriver
from selenium.webdriver import ActionChains

from selenium.webdriver.common.by import By

import time
from tqdm import tqdm

In [3]:
import googlemaps
gmaps_key = 'AIzaSyDwYuuMdRr5BhFWCaaU3vzy1foh2RsMm9E'
gmaps = googlemaps.Client(key=gmaps_key)

In [4]:
#네이버 API
import urllib.request
from urllib import parse
import json

api_key = 'H7TptCr8E4WmZ1tb2C4d80kXM3jlxMCB67l1dB2k'				# access key id (from portal or Sub Account)
id = 'dywifp6qyu'

# 원하는 주소

def naverGeo(target):
# 주소를 변환 URL에서 활용을 위해
    target_u = parse.quote(target)
    # 현 200920 시점 NAVER CLOUD URL 주소
    url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=" + target_u  # json 결과
    request = urllib.request.Request(url)
    # ADD ID
    request.add_header("X-NCP-APIGW-API-KEY-ID", id)
    # ADD API KEY
    request.add_header("X-NCP-APIGW-API-KEY", api_key)
    # URL OPEN
    response = urllib.request.urlopen(request)
    # JSON 값
    res_body = response.read().decode('utf-8')

    geo = json.loads(res_body)
    
    return geo['addresses'][0]['y'], geo['addresses'][0]['x']

In [5]:
# 주소로 좌표 찾기
def geocoding(address):
    try:
        lat,lng = naverGeo(address)
    except Exception as e:
        print(e)
        print(f"GEOCODING ERROR : {address}")
        return (0, 0)
    return (lat,lng)
# 좌표로 주소 찾기
def geocoding_reverse(lat, lng): 
    g = gmaps.reverse_geocode((lat, lng), language='ko')
    
    # print(g[0]['formatted_address'])
    
    return g[0]['formatted_address']

In [4]:
df = pd.read_csv('vocie_fishing.csv')

In [5]:
df = df.fillna('')
df['keyword'] = df['광역시/도'] + " " + df['시/군/구'] + " " + df['일반구'] + " " + df['동/읍/면']

In [6]:
# 검색 주소 전처리
df['keyword'] = df['keyword'].str.rstrip().str.replace('  ', ' ', regex=True)
df['keyword'] = df['keyword'].str.rstrip().str.replace('  ', ' ', regex=True)

In [7]:
#  카카오 지도 검색을 위한 광역시도 변경
change_name_dict = {
    '대전광역시' : '대전',
    '충청남도' : '충남',
    '경기도' : '경기',
    '강원도' : '강원',
    '전라남도': '전남',
    '충청북도' : '충북',
    '서울특별시' : '서울',
    '광주광역시' : '광주',
    '경상북도' : '경북',
    '부산광역시' : '부산',
    '경상남도' : '경남',
    '전라북도' : '전북',
    '인천광역시' : '인천',
    '대구광역시' : '대구',
    '울산광역시' : '울산'
    }

for key,value in change_name_dict.items():
    df['keyword'] = df['keyword'].str.replace(key,value, regex=True)

In [8]:
keywords = df['keyword'].unique()

In [9]:
len(keywords)

1026

In [66]:
url = 'https://map.kakao.com/'

driver = webdriver.Chrome(executable_path='../driver/chromedriver')
driver.get(url=url)

/var/folders/jt/jw2pb8hx71d48w0rx0cgqf_80000gn/T/ipykernel_22330/1170768999.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='../driver/chromedriver')

In [11]:
# keyword에 맞는 ATM 지역 가져오기
names = []
address = []

search_error_keywrod = [] 

#검색 박스, 버튼
search_box = driver.find_element(By.XPATH, '//*[@id="search.keyword.query"]')
search_btn = driver.find_element(By.XPATH, '//*[@id="search.keyword.submit"]')

#keyword for 문 자리
for keyword in tqdm(keywords):
    
    try:
        #키워드 검색
        search_box.clear()
        time.sleep(1)
        search_box.send_keys(keyword + " ATM")
        time.sleep(1)
        search_btn.click()
        time.sleep(1)
        
        #더보기 버튼 클릭 후 1번으로 이동
        try:
            driver.find_element(By.XPATH, '//*[@id="info.search.place.more"]').click()
            time.sleep(2)
            driver.find_element(By.XPATH, '//*[@id="info.search.page.no1"]').click()
            time.sleep(2)
        except:
            pass

        #keyword와 일치하는 ATM 주소 가져오기
        break_flag = False
        btn_cnt = 2
        while True:
            xPath = '//*[@id="info.search.page.no'+ str(btn_cnt) + '"]'
            btn_cnt+=1

            search_list = driver.find_elements(By.CSS_SELECTOR, '#info\.search\.place\.list>li')
            for content in search_list:
                check_region = content.find_element(By.CSS_SELECTOR, "p[data-id='address']")

                if keyword not in check_region.text:
                    other_region = content.find_element(By.CSS_SELECTOR, "p[data-id='otherAddr']")
                    if keyword.split()[-1][:-1] not in other_region.text:
                        break_flag=True
                        break
                
                names.append(content.find_element(By.CSS_SELECTOR, 'div.head_item.clickArea > strong > a.link_name').text) #이름
                address.append(check_region.text)   #주소

            if break_flag:
                break
            
            driver.find_element(By.XPATH, xPath).click()

            if btn_cnt > 5:
                next_btn = driver.find_element(By.XPATH, '//*[@id="info.search.page.next"]')
                time.sleep(1)
                next_btn.click()

                btn_cnt = 1
                
            time.sleep(3)
    except:
        print("검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : {}" .format(keyword))
        names.append('')
        address.append('')
        search_error_keywrod.append(keyword)

  9%|▉         | 95/1026 [19:00<1:44:47,  6.75s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 대덕구 미호동

 12%|█▏        | 118/1026 [23:09<2:41:07, 10.65s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 서구 흑석동

 14%|█▍        | 145/1026 [27:37<2:14:55,  9.19s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 동구 상소동

 16%|█▌        | 164/1026 [30:34<1:39:38,  6.94s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 청양군 정산면

 20%|█▉        | 205/1026 [38:32<1:48:06,  7.90s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 동구 삼괴동

 21%|██▏       | 220/1026 [40:47<1:42:41,  7.64s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 공주시 유구읍

 23%|██▎       | 232/1026 [42:26<1:30:23,  6.83s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 천안시 서북구 성동

 24%|██▍       | 245/1026 [44:07<1:15:39,  5.81s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 청양군 청양읍

 24%|██▍       | 248/1026 [44:26<1:15:15,  5.80s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 천안시 성동

 38%|███▊      | 385/1026 [1:10:41<2:33:56, 14.41s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 천안시 병천면

 40%|███▉      | 409/1026 [1:17:21<1:14:05,  7.21s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 예산군 주령리응봉면

 40%|████      | 411/1026 [1:17:29<56:16,  5.49s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 세종특별자치시 아름동도담동

 41%|████      | 423/1026 [1:18:56<1:04:54,  6.46s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 천안시 성동부성2동

 42%|████▏     | 427/1026 [1:19:27<1:07:30,  6.76s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 세종특별자치시 신대리연서면

 43%|████▎     | 444/1026 [1:21:34<1:07:19,  6.94s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 아산시 신화리영인면

 44%|████▎     | 447/1026 [1:21:51<56:08,  5.82s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 보령시 주교리주교면

 44%|████▍     | 453/1026 [1:22:29<1:01:03,  6.39s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 서구 장안동

 47%|████▋     | 478/1026 [1:28:29<3:43:32, 24.48s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 부산 기장군 정관읍

 50%|█████     | 518/1026 [1:37:21<2:19:24, 16.46s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충북 괴산군 괴산읍

 54%|█████▍    | 554/1026 [1:48:29<1:48:03, 13.74s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 서구 오동

 56%|█████▌    | 573/1026 [1:52:40<1:21:57, 10.86s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충북 영동군 영동읍

 56%|█████▌    | 577/1026 [1:53:19<1:06:11,  8.84s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 대전 동구 마산동

 58%|█████▊    | 600/1026 [1:59:36<1:08:05,  9.59s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 천안시 광덕면

 67%|██████▋   | 684/1026 [2:23:48<1:42:33, 17.99s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충북 영동군 양산면

 69%|██████▉   | 713/1026 [2:31:47<1:04:35, 12.38s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 전북 무주군 무주읍

 73%|███████▎  | 746/1026 [2:44:31<3:32:19, 45.50s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 충남 천안시 북면

 73%|███████▎  | 754/1026 [2:47:13<1:23:52, 18.50s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 전북 임실군 강진면

 81%|████████  | 827/1026 [3:11:50<2:19:20, 42.01s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 강원 양군 강현면

 86%|████████▌ | 880/1026 [3:27:31<26:11, 10.76s/it]

검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : 경기 광주시 오포읍

100%|██████████| 1026/1026 [4:02:36<00:00, 14.19s/it]

In [12]:
len(names), len(address)

(16024, 16024)

In [18]:
len(names), len(address)

(7629, 7629)

In [13]:
driver.close()

In [14]:
test = pd.DataFrame({
    'name' : names,
    'address' : address
})

In [15]:
test = pd.DataFrame(test.groupby(['address','name']).size()).sort_values(0, ascending=False).reset_index().drop(0, axis=1)

In [74]:
# test = pd.read_csv('bank_list.csv', index_col=0)
bank = pd.read_csv('bank_list_fin.csv', index_col=0)

In [75]:
import re

In [76]:
def cleaning_addr(s):
    pattern = ' [0-9]{1,}-*[0-9]*\\s{0}'

    try:
        slice_idx = re.search(pattern=pattern, string=s).span()[1]
    except Exception as e:
        print(e)
        print(s)
        return s
    return s[:slice_idx]

bank['address'] = [cleaning_addr(s) for s in bank['address'].values]

expected string or bytes-like object
nan
'NoneType' object has no attribute 'span'
충청남도 천안시 동남구 안서동 산16-5 단국대학교의과대학부속병원
'NoneType' object has no attribute 'span'
대전광역시 대덕구 연축동 산6-2 한국수자원공사
'NoneType' object has no attribute 'span'
충청남도 아산시 음봉면 송촌리 산79
'NoneType' object has no attribute 'span'
서울특별시 성북구 정릉동 산16-1 서경대학교
'NoneType' object has no attribute 'span'
경상북도 포항시 북구 송라면 대전리 산208 오션힐스포항CC
'NoneType' object has no attribute 'span'
대전광역시 대덕구 연축동 산6-2 한국수자원공사
'NoneType' object has no attribute 'span'
서울특별시 성북구 정릉동 산87-342 블루힐아파트
'NoneType' object has no attribute 'span'
충청남도 홍성군 홍성읍 남장리 산29
'NoneType' object has no attribute 'span'
서울특별시 성북구 석관동 산1-5
'NoneType' object has no attribute 'span'
경기도 용인시 처인구 모현읍 능원리 산5-12 레이크사이드C.C
'NoneType' object has no attribute 'span'
서울특별시 성북구 정릉동 산16-1 서경대학교
'NoneType' object has no attribute 'span'
서울특별시 중구 장충동2가 산14-67 국립극장
'NoneType' object has no attribute 'span'
세종특별자치시 고운동 산167
'NoneType' object has no attribute 'span'
전라북도 정읍시 시기동 산9-28 전북과학대학
'NoneType' object has no attribute 'span'
충청남도 부여군 규암면 합정리 산1-1 롯데스카이힐부여CC
'NoneType' object has no attribute 'span'
충청북도 청주시 청원구 주성동
'NoneType' object has no attribute 'span'
충청북도 청주시 청원구 내수읍 덕암리 산4 충북보건과학대학교
'NoneType' object has no attribute 'span'
충청북도 청주시 청원구 내수읍 덕암리 산4 충북보건과학대학교
'NoneType' object has no attribute 'span'
충청북도 충주시 대소원면 만정리 산38 (주)대영베이스
'NoneType' object has no attribute 'span'
충청북도 청주시 흥덕구 옥산면 동림리 산53
'NoneType' object has no attribute 'span'
충청북도 청주시 서원구 남이면 산막리 산122 세레니티골프앤리조트
'NoneType' object has no attribute 'span'
울산광역시 울주군 범서읍 굴화리 산61
'NoneType' object has no attribute 'span'
전라북도 군산시 미룡동 산116
'NoneType' object has no attribute 'span'
경기도 이천시 신둔면 용면리 산83-1
'NoneType' object has no attribute 'span'
경기도 이천시 신둔면 도암리 산2-73
'NoneType' object has no attribute 'span'
경기도 용인시 처인구 양지면 제일리 산41-11 총신대학교신학대학원
'NoneType' object has no attribute 'span'
경기도 용인시 처인구 양지면 제일리 산41-11 총신대학교신학대학원
'NoneType' object has no attribute 'span'
경기도 용인시 처인구 모현읍 왕산리 산55-4 한국외국어대학교글로벌캠퍼스
'NoneType' object has no attribute 'span'
경기도 용인시 처인구 모현읍 왕산리 산55-4 한국외국어대학교글로벌캠퍼스
'NoneType' object has no attribute 'span'
경기도 오산시 금암동 산33-10
'NoneType' object has no attribute 'span'
경기도 화성시 팔탄면 덕천리 산101-2
'NoneType' object has no attribute 'span'
경기도 화성시 팔탄면 지월리 산47-1
'NoneType' object has no attribute 'span'
경상남도 양산시 동면 내송리 산86-6 양산휴게소
'NoneType' object has no attribute 'span'
경상남도 김해시 삼방동 산77-9 김해대학교
'NoneType' object has no attribute 'span'
경상남도 김해시 삼방동 산77-9 김해대학교
'NoneType' object has no attribute 'span'
경상남도 김해시 주촌면 덕암리 산180
'NoneType' object has no attribute 'span'
경기도 화성시 목동 산21-3
'NoneType' object has no attribute 'span'
경기도 여주시 가남읍 안금리 산74-8 동여주CC
'NoneType' object has no attribute 'span'
경기도 안성시 공도읍 양기리 산2-12
'NoneType' object has no attribute 'span'
경기도 안성시 원곡면 산하리 산67-3
'NoneType' object has no attribute 'span'
경기도 안성시 원곡면 외가천리 산7-3
'NoneType' object has no attribute 'span'
경기도 성남시 수정구 복정동 산42 동서울대학
'NoneType' object has no attribute 'span'
경기도 시흥시 능곡동 산27-1
'NoneType' object has no attribute 'span'
경기도 수원시 영통구 이의동 산94-6 경기대학교
'NoneType' object has no attribute 'span'
경기도 수원시 영통구 이의동 산94-6 경기대학교
'NoneType' object has no attribute 'span'
서울특별시 관악구 신림동 산56-1 서울대학교
'NoneType' object has no attribute 'span'
서울특별시 관악구 신림동 산56-1 서울대학교
'NoneType' object has no attribute 'span'
서울특별시 관악구 신림동 산56-1 서울대학교
'NoneType' object has no attribute 'span'
서울특별시 관악구 신림동 산56-1 서울대학교
'NoneType' object has no attribute 'span'
서울특별시 구로구 오류동 산16-10 평강제일교회
'NoneType' object has no attribute 'span'
서울특별시 금천구 시흥동 산100-4 학교법인동일학원교사
'NoneType' object has no attribute 'span'
경상북도 포항시 북구 흥해읍 대련리 산161-5 포항우편집중국
'NoneType' object has no attribute 'span'
경상북도 포항시 북구 창포동 산97-2
'NoneType' object has no attribute 'span'
경상북도 포항시 남구 효자동 산32 포항산업과학연구원
'NoneType' object has no attribute 'span'
경상북도 포항시 북구 창포동 산97-2 대구출입국관리사무소포항출장소
'NoneType' object has no attribute 'span'
경상북도 포항시 북구 우현동 산15-5
'NoneType' object has no attribute 'span'
경상북도 포항시 북구 우현동 산18-1 여성아이병원
'NoneType' object has no attribute 'span'
대전광역시 유성구 하기동 산15-6 침례신학대학교

In [24]:
# test.to_csv('bank_list.csv')

In [78]:
bank.head()

,address,name,lat,lng,addr1,addr2
0,NaN,NaN,0.000000,0.000000,NaN,NaN
1,충청남도 천안시 동남구 안서동 76-2,롯데ATM 세븐일레븐 천안안서,36.844481,127.186714,충남,안서동
2,충청남도 천안시 동남구 사직동 247-4,CU ATM 천안사직점,36.800959,127.147461,충남,사직동
3,충청남도 천안시 동남구 구성동 469-4,롯데ATM 세븐일레븐 천안구성,36.795927,127.158441,충남,구성동
4,충청남도 천안시 서북구 두정동 698,SC제일은행 365코너 두정동지점,36.833538,127.133026,충남,두정동

In [85]:
lat_lng = bank['address'].apply(geocoding)

quote_from_bytes() expected bytes
GEOCODING ERROR : nan
list index out of range
GEOCODING ERROR : 충청남도 홍성군 홍성읍 남장리 산29
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 사직1동 888-3
list index out of range
GEOCODING ERROR : 충청북도 청주시 상당구 율봉로 141
list index out of range
GEOCODING ERROR : 충청북도 청주시 흥덕구 개신동 15-2
list index out of range
GEOCODING ERROR : 인천광역시 부평구 광장로 지하 30
list index out of range
GEOCODING ERROR : 경기도 화성시 향남읍 방축리 131
list index out of range
GEOCODING ERROR : 경기도 화성시 향남읍 방축리 131
list index out of range
GEOCODING ERROR : 경기도 화성시 남양동 2000
list index out of range
GEOCODING ERROR : 경기도 화성시 남양동 2000
list index out of range
GEOCODING ERROR : 경기도 화성시 남양동 2000
list index out of range
GEOCODING ERROR : 서울특별시 강북구 4-1
list index out of range
GEOCODING ERROR : 부산광역시 북구 화명동 1975
list index out of range
GEOCODING ERROR : 부산광역시 북구 화명동 1975

In [89]:
bank['lat_lng'] = lat_lng

In [90]:
def getLat(lat_lng):
    return lat_lng[0]

def getLng(lat_lng):
    return lat_lng[1]

bank['lat'] = bank['lat_lng'].apply(getLat)

bank['lng'] = bank['lat_lng'].apply(getLng)

In [91]:
bank.drop('lat_lng', axis=1, inplace=True)
bank

,address,name,lat,lng,addr1,addr2
0,NaN,NaN,0,0,NaN,NaN
1,충청남도 천안시 동남구 안서동 76-2,롯데ATM 세븐일레븐 천안안서,36.8445329,127.1867385,충남,안서동
2,충청남도 천안시 동남구 사직동 247-4,CU ATM 천안사직점,36.8010004,127.1474698,충남,사직동
3,충청남도 천안시 동남구 구성동 469-4,롯데ATM 세븐일레븐 천안구성,36.7959468,127.1584356,충남,구성동
4,충청남도 천안시 서북구 두정동 698,SC제일은행 365코너 두정동지점,36.8335597,127.1330649,충남,두정동
...,...,...,...,...,...,...
12082,대전광역시 유성구 관평동 1352,롯데ATM 세븐일레븐 대전관평타운,36.4299303,127.3894269,대전,관평동
12083,대전광역시 유성구 대정동 316-1,CU ATM 대전대정점,36.3138829,127.3227021,대전,대정동
12084,대전광역시 유성구 구성동 23,우리은행 365코너 한국과학기술원 K-1빌딩,36.3688605,127.3638985,대전,구성동
12085,대전광역시 유성구 구성동 23,우리은행 365코너 한국과학기술원 산업디자인과,36.3688605,127.3638985,대전,구성동
12086,충청북도 충주시 호암동 101-1,CU ATM 충주호암중앙점,36.9533070,127.9395461,충북,호암동

In [220]:
rename_idx = test[test['address']=='충북 청주시 서원구 1'].index
rename_name = test[test['address']=='충북 청주시 서원구 1']['name'].values

In [222]:
for n, i in zip(rename_name, rename_idx):
    test['lat'].iloc[i], test['lng'].iloc[i] = geocoding(n)

In [204]:
rename_addr = test[test['lat']==0]['address'].unique()[1:]
rename_addr

array(['대전 중구 중앙로 지하 145', '충북 청주시 서원구 1'], dtype=object)

In [224]:
rename_idx = test[test['address'] == '대전 중구 중앙로 지하 145'].index

In [225]:
test[test['address'] == '대전 중구 중앙로 지하 145']

              address                       name lat lng addr1 addr2
376  대전 중구 중앙로 지하 145   하나은행365 중앙로1번가 지하상가 C1출구   0   0    대전    중구
853  대전 중구 중앙로 지하 145    하나은행365 중앙로지하상가B구역만남의광장   0   0    대전    중구
904  대전 중구 중앙로 지하 145  하나은행365 중앙로1번가지하상가(A구역2번)   0   0    대전    중구

In [230]:
test['lat'].iloc[rename_idx], test['lng'].iloc[rename_idx] = naverGeo('대전 중구 중앙로 145')

In [231]:
test.iloc[rename_idx]

,address,name,lat,lng,addr1,addr2
376,대전 중구 중앙로 지하 145,하나은행365 중앙로1번가 지하상가 C1출구,36.3280399,127.4241371,대전,중구
853,대전 중구 중앙로 지하 145,하나은행365 중앙로지하상가B구역만남의광장,36.3280399,127.4241371,대전,중구
904,대전 중구 중앙로 지하 145,하나은행365 중앙로1번가지하상가(A구역2번),36.3280399,127.4241371,대전,중구

In [7]:
test = pd.read_csv('bank_list_fin.csv')

In [8]:
test

,Unnamed: 0,address,name,lat,lng,addr1,addr2
0,0,NaN,NaN,0.000000,0.000000,NaN,NaN
1,1,충남 천안시 동남구 문암6길 2,롯데ATM 세븐일레븐 천안안서,36.844481,127.186714,충남,천안시
2,2,충남 천안시 동남구 대흥로 139,CU ATM 천안사직점,36.800959,127.147461,충남,천안시
3,3,충남 천안시 동남구 대흥로 20-1,롯데ATM 세븐일레븐 천안구성,36.795927,127.158441,충남,천안시
4,4,충남 천안시 서북구 두정로 146,SC제일은행 365코너 두정동지점,36.833538,127.133026,충남,천안시
...,...,...,...,...,...,...,...
12082,12082,대전 유성구 관평동 1352,롯데ATM 세븐일레븐 대전관평타운,36.429899,127.389442,대전,유성구
12083,12083,대전 유성구 대정로28번길 50,CU ATM 대전대정점,36.313947,127.322525,대전,유성구
12084,12084,대전 유성구 대학로 291,우리은행 365코너 한국과학기술원 K-1빌딩,36.370717,127.357351,대전,유성구
12085,12085,대전 유성구 대학로 291,우리은행 365코너 한국과학기술원 산업디자인과,36.370717,127.357351,대전,유성구
12086,12086,충북 충주시 호암중앙1로 4,CU ATM 충주호암중앙점,36.953204,127.939646,충북,충주시

In [10]:
def divAddr(address):
    try:
        for add in address.split()[::-1]:
            result = add

            if result[-1] in ('로', '길', '동', '면', '읍'):
                break

        return result
    except:
        print(f"주소를 나눌 수 없습니다. Error Addr : {address}")
        return ''

In [11]:
test['addr2'] = test['address'].apply(divAddr)

주소를 나눌 수 없습니다. Error Addr : nan

In [12]:
test

,Unnamed: 0,address,name,lat,lng,addr1,addr2
0,0,NaN,NaN,0.000000,0.000000,NaN,
1,1,충남 천안시 동남구 문암6길 2,롯데ATM 세븐일레븐 천안안서,36.844481,127.186714,충남,문암6길
2,2,충남 천안시 동남구 대흥로 139,CU ATM 천안사직점,36.800959,127.147461,충남,대흥로
3,3,충남 천안시 동남구 대흥로 20-1,롯데ATM 세븐일레븐 천안구성,36.795927,127.158441,충남,대흥로
4,4,충남 천안시 서북구 두정로 146,SC제일은행 365코너 두정동지점,36.833538,127.133026,충남,두정로
...,...,...,...,...,...,...,...
12082,12082,대전 유성구 관평동 1352,롯데ATM 세븐일레븐 대전관평타운,36.429899,127.389442,대전,관평동
12083,12083,대전 유성구 대정로28번길 50,CU ATM 대전대정점,36.313947,127.322525,대전,대정로28번길
12084,12084,대전 유성구 대학로 291,우리은행 365코너 한국과학기술원 K-1빌딩,36.370717,127.357351,대전,대학로
12085,12085,대전 유성구 대학로 291,우리은행 365코너 한국과학기술원 산업디자인과,36.370717,127.357351,대전,대학로
12086,12086,충북 충주시 호암중앙1로 4,CU ATM 충주호암중앙점,36.953204,127.939646,충북,호암중앙1로

In [69]:
s = '대전 중구 중앙로 지하 145'
s= '충남 천안시 서북구 두정로 146'
s= '충남 천안시 동남구 문암6길 2'
s = '대전광역시 중구 중촌동 253-2'
s= '충남 아산시 둔포면 아산밸리서로 168 1층'

for add in s.split()[::-1]:
    result = add

    if result[-1] in ('로', '길', '동', '면', '읍'):
        break

result

'아산밸리서로'

In [92]:
test.to_csv('bank_list_fin.csv')

In [18]:
test = test.drop('Unnamed: 0', axis=1)

## 지번주소로 통일

In [1]:
def getNaverGeo(target):
    try:
        # 주소를 변환 URL에서 활용을 위해
        target_u = parse.quote(target)
        # 현 200920 시점 NAVER CLOUD URL 주소
        url = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode?query=" + target_u  # json 결과
        request = urllib.request.Request(url)
        # ADD ID
        request.add_header("X-NCP-APIGW-API-KEY-ID", id)
        # ADD API KEY
        request.add_header("X-NCP-APIGW-API-KEY", api_key)
        # URL OPEN
        response = urllib.request.urlopen(request)
        # JSON 값
        res_body = response.read().decode('utf-8')

        geo = json.loads(res_body)
        
        return geo['addresses'][0]['jibunAddress']
    except:
        return ''

In [72]:
geocoding('청남도 아산시 둔포면 석곡리 1670'), geocoding('충남 아산시 둔포면 아산밸리서로 168 1층')

((36.9142745, 127.0595972), (36.9311943, 127.0591479))

In [73]:
geocoding_reverse(36.9311943, 127.0591479), geocoding_reverse(36.9142745, 127.0595972)

('대한민국 충청남도 아산시 둔포면 아산밸리서로 76 1층', '대한민국 아산시 둔포면 석곡리 1672번지 1층 109호')

In [70]:
getNaverGeo('충남 아산시 둔포면 아산밸리서로 168 1층')

'충청남도 아산시 둔포면 석곡리 1670'

In [38]:
test['address'] = test['address'].apply(getNaverGeo)

In [56]:
for i in test[test['address']==''].index[1:]:
    test['address'].iloc[i] = geocoding_reverse(test['lat'].iloc[i], test['lng'].iloc[i]).replace('대한민국 ', '')

/Users/seokholee/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [50]:
geocoding_reverse(36.878597 , 127.143142)

'충청남도 천안시 서북구 직산읍 삼은리 214-1'

In [58]:
test['addr2'] = test['address'].apply(divAddr)

주소를 나눌 수 없습니다. Error Addr :

In [60]:
test.to_csv('bank_list_fin.csv')

In [68]:
#검색 박스, 버튼
search_box = driver.find_element(By.XPATH, '//*[@id="search.keyword.query"]')
search_btn = driver.find_element(By.XPATH, '//*[@id="search.keyword.submit"]')


# keywords = ['cu atm 아산테크노벨리센터점']
keywords = ['충남 아산시 둔포면']
#keyword for 문 자리
for keyword in tqdm(keywords):
    
    try:
        #키워드 검색
        search_box.clear()
        time.sleep(1)
        search_box.send_keys(keyword + " ATM")
        time.sleep(1)
        search_btn.click()
        time.sleep(1)
        
        #더보기 버튼 클릭 후 1번으로 이동
        try:
            driver.find_element(By.XPATH, '//*[@id="info.search.place.more"]').click()
            time.sleep(2)
            driver.find_element(By.XPATH, '//*[@id="info.search.page.no1"]').click()
            time.sleep(2)
        except:
            pass

        #keyword와 일치하는 ATM 주소 가져오기
        break_flag = False
        btn_cnt = 2
        while True:
            xPath = '//*[@id="info.search.page.no'+ str(btn_cnt) + '"]'
            btn_cnt+=1

            search_list = driver.find_elements(By.CSS_SELECTOR, '#info\.search\.place\.list>li')
            for content in search_list:
                check_region = content.find_element(By.CSS_SELECTOR, "p[data-id='address']")

                if keyword not in check_region.text:
                    other_region = content.find_element(By.CSS_SELECTOR, "p[data-id='otherAddr']")
                    if keyword.split()[-1][:-1] not in other_region.text:
                        break_flag=True
                        break
                
                print(content.find_element(By.CSS_SELECTOR, 'div.head_item.clickArea > strong > a.link_name').text) #이름
                print(check_region.text)   #주소

            if break_flag:
                break
            
            driver.find_element(By.XPATH, xPath).click()

            if btn_cnt > 5:
                next_btn = driver.find_element(By.XPATH, '//*[@id="info.search.page.next"]')
                time.sleep(1)
                next_btn.click()

                btn_cnt = 1
                
            time.sleep(3)
    except:
        print("검색하신 지역에는 은행 혹은 ATM이 없습니다. KEYWORD : {}" .format(keyword))
        names.append('')
        address.append('')
        search_error_keywrod.append(keyword)

  0%|          | 0/1 [00:00<?, ?it/s]

하나은행365 니프코코리아
충남 아산시 둔포면 아산밸리남로 146
우리은행 365코너 에스에프에이 복지관1층
충남 아산시 둔포면 윤보선로 262
우리은행 365코너 아산테크노밸리지점
충남 아산시 둔포면 아산밸리중앙로 89
하나은행365 평산
충남 아산시 둔포면 관대안길 27
우리은행 365코너 세정 정문면회실
충남 아산시 둔포면 아산호로840번길 65-20
IBK기업은행365 동보 아산공장
충남 아산시 둔포면 아산밸리로 172
IBK기업은행365 톱텍아산공장
충남 아산시 둔포면 아산밸리로 122
우체국365코너
충남 아산시 둔포면 둔포면로 16
NH농협은행 365코너 둔포농협본점
충남 아산시 둔포면 둔포중앙로 136
IBK기업은행365 아산둔포점365
충남 아산시 둔포면 둔포중앙로 131
IBK기업은행365 이녹스복지동
충남 아산시 둔포면 아산밸리로 171
둔포농협365오토뱅크 테크노밸리지점
충남 아산시 둔포면 아산밸리중앙로 83
하나은행365 에스에프에이
충남 아산시 둔포면 윤보선로 262
IBK기업은행365 아산퍼스트빌리지쇼핑몰
충남 아산시 둔포면 해위안길 127 3층
CU ATM 아산둔포원룸점
충남 아산시 둔포면 둔포로 78 국제하이빌
아산새마을금고365코너 테크노지점
충남 아산시 둔포면 아산밸리중앙로 79-6 현대프라자 1층
CU ATM 아산관대점
충남 아산시 둔포면 충무로 1396
CU ATM 아산이지더원8단지점
충남 아산시 둔포면 아산밸리남로 81
CU ATM 아산이지더원1차점
충남 아산시 둔포면 아산밸리중앙로 50 테크노밸리이지더원1단지
CU ATM 뉴아산둔포산업단지점
충남 아산시 둔포면 아산밸리로 296-21
IBK기업은행365 자루아이3층-아산
충남 아산시 둔포면 해위안길 127
CU ATM 아산염작점
충남 아산시 둔포면 아산밸리동로 263-10 1층
CU ATM 아산테크노밸리센터점
충남 아산시 둔포면 아산밸리서로 168 1층
CU ATM 둔포행복점
충남 아산시 둔포면 둔포로 40 1층
CU ATM 아산둔포타운점
충남 아산시 둔포면 둔포중앙로171번길 21
롯데ATM 세븐일레븐 아산한화기숙사(CD)
충남 아산시 둔포면 운교리 4-9
CU ATM 아산모닝빌점
충남 아산시 둔포면 윤보선로450번길 3 신이모닝빌
CU ATM 아산둔포신항점
충남 아산시 둔포면 신항리 68-31
CU ATM 아산운용점
충남 아산시 둔포면 운용리 337-151 152호 1층
롯데ATM 세븐일레븐 아산테크노벨리2
충남 아산시 둔포면 아산밸리중앙로 110
롯데ATM 세븐일레븐 아산퍼스트빌리지(CD)
충남 아산시 둔포면 해위안길 127
롯데ATM 세븐일레븐 아산둔포송용(CD)
충남 아산시 둔포면 윤보선로 458
롯데ATM 세븐일레븐 아산둔포스카이(CD)
충남 아산시 둔포면 석곡리 1995
CU ATM 아산둔포점
충남 아산시 둔포면 둔포중앙로 130 1층
롯데ATM 세븐일레븐 아산둔포로
충남 아산시 둔포면 둔포로 92-12
롯데ATM 세븐일레븐 아산신남로
충남 아산시 둔포면 신남리 236-1
IBK기업은행365 자루아이4층-아산
충남 아산시 둔포면 해위안길 127
롯데ATM 세븐일레븐 아산둔포운용(CD)
충남 아산시 둔포면 운용리 337-197
롯데ATM 세븐일레븐 아산테크노벨리1
충남 아산시 둔포면 아산밸리로 298
롯데ATM 세븐일레븐 아산봉재희망(CD)
충남 아산시 둔포면 봉재리 357-2
CU ATM 아산둔포충무점
충남 아산시 둔포면 충무로 1799
CU ATM 아산테크노밸리2호점
충남 아산시 둔포면 운용길 73 1층
롯데ATM 세븐일레븐 아산퍼스트(CD)
충남 아산시 둔포면 관대리 197
롯데ATM 세븐일레븐 아산둔포신양
충남 아산시 둔포면 봉신로 279
롯데ATM 세븐일레븐 아산둔포신남(CD)
충남 아산시 둔포면 신남리 743-47

100%|██████████| 1/1 [00:20<00:00, 20.77s/it]

CU ATM 아산테크노밸리점
충남 아산시 둔포면 아산밸리서로 70 1층
CU ATM 아산운교점
충남 아산시 둔포면 석곡길 40-53
롯데ATM 세븐일레븐 아산둔포관대
충남 아산시 둔포면 관대길 83-12

In [93]:
geocoding_reverse(36.93123 , 127.05950), geocoding_reverse(36.93205 , 127.06079)

('대한민국 충청남도 아산시 둔포면 운용길 77', '대한민국 충청남도 아산시 둔포면 운용리 337-31')

In [94]:
naverGeo('충청남도 아산시 둔포면 운용길 77'), naverGeo('충청남도 아산시 둔포면 운용리 337-31')

(('36.9310081', '127.0593486'), ('36.9320480', '127.0607889'))

In [10]:
naverGeo('충남 홍성군 홍성읍 남장리 산 23-6')

('36.5843725', '126.6650450')