In [1]:
import pandas as pd
import numpy as np

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [71]:
a = np.array([3,5,7,2,2])
b = np.array([100,500,500,500,200])
len(a), len(b)

(5, 5)

In [94]:
test = pd.DataFrame({
    'status' : a,
    'salary' : b
}, )

TypeError: __init__() got an unexpected keyword argument 'axis'

In [73]:
test

   status  salary
0       3     100
1       5     500
2       7     500
3       2     500
4       2     200

In [88]:
test = test.drop(index=3, axis=0).reset_index(drop=True)

In [89]:
test

   status  salary
0       3     100
1       5     500
2       7     500
3       2     200

In [90]:
def gravi(df_list):
    result = []
    for df in df_list:
        df_len = len(df)

        ratio = [1]
        for _ in range(1,df_len):
            tmp = ratio.pop(-1)
            ratio.append(round(tmp*0.6,2))
            ratio.append(round(tmp*0.4,2))
            
        result.append(ratio)

    return result

def tmp(df):
    salarys = set(df['salary'].values)
    
    temp = []
    for s in salarys:
        temp.append(df[df['salary']==s])

    return temp

In [91]:
test2 = tmp(test)
ratio =gravi(test2)

In [92]:
ratio

[[1], [1], [0.6, 0.4]]

In [93]:
sum = 0
for idx, rows in test2[2].iterrows():
    sum += rows['status'] * ratio[2][-idx]

round(sum,2)

6.2

In [97]:
test

   status  salary
0       3     100
1       5     500
2       7     500
3       2     200

In [233]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

def mm_scaler(df):
    mm = MinMaxScaler()
    cols = df.columns
    mm_list = []

    result = df.copy()

    scaled_df = mm.fit_transform(result)
    return pd.DataFrame(scaled_df, index=df.index, columns=df.columns)

def std_scaler(df):
    std = StandardScaler()
    cols = df.columns
    std_list = []

    for col in cols:
        target_col = df[col]
        target_col = target_col.values.reshape(-1,1)
        
        std_list.append(std.fit_transform(target_col).round(2))

    result = pd.DataFrame(columns=cols)

    for idx, col in enumerate(cols):
        result[col] = std_list[idx].tolist()
    

    return result
    

def rob_scaler(df):
    rob = RobustScaler()
    cols = df.columns
    rob_list = []

    for col in cols:
        target_col = df[col]
        target_col = target_col.values.reshape(-1,1)
        
        rob_list.append(rob.fit_transform(target_col).round(2))

    result = pd.DataFrame(columns=cols)

    for idx, col in enumerate(cols):
        result[col] = rob_list[idx].tolist()
    

    return result

In [234]:
mm_df = mm_scaler(test)
mm_df.head()

   status  salary
0     0.2    0.00
1     0.6    1.00
2     1.0    1.00
3     0.0    0.25

In [198]:
std_df = std_scaler(test)
std_df.head()

    status   salary
0  [-0.65]  [-1.26]
1   [0.39]   [0.98]
2   [1.43]   [0.98]
3  [-1.17]   [-0.7]

In [200]:
rob_df = rob_scaler(test)
rob_df.head()

    status   salary
0  [-0.36]  [-0.77]
1   [0.36]   [0.46]
2   [1.09]   [0.46]
3  [-0.73]  [-0.46]

In [235]:
grid_dict = {
   0 : {0: 'Linear',1: "GradientBoostingRegressor" , 2: "RandomForestRegressor"},
   1 : {0: 'Linear',1: "GradientBoostingRegressor" , 2: "RandomForestRegressor"},
   2 : {0: 'Linear',1: "GradientBoostingRegressor" , 2: "RandomForestRegressor"}
            }

In [237]:
grid_dict.get(0).get(0)

'Linear'

In [240]:
test_dic = {}

test_dic[grid_dict.get(0).get(0) + 'Test'] = 1

test_dic

{'LinearTest': 1}